.login-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  height: 100vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  color: #475569;
  margin-bottom: 5px;
}

.input {
  background-color: #d7dfe9;
  color: #64748b;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo-login-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image {
  height: 200px;
  margin-top: 25px;
}

.login-logo {
  width: 200px;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-login-images-container {
    width: 50%;
  }
  .login-image {
    height: 400px;
  }
  .login-logo {
    height: 100px;
    width: 400px;
  }
  .form-container {
    width: 30%;
  }
}

.login-btn {
  background-color: #0b69ff;
  color: #e6f6ff;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-msg {
  color: #ff0b37;
}
